<mat-toolbar color="primary">
  <span>My List</span>
</mat-toolbar>

<div id="form" class="example-container">
  <form [formGroup]="itemForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Item Name</mat-label>
        <input matInput placeholder="Ex. Bread" formControlName="Name">
        <mat-hint>Eg. Bread, Rum, etc</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Quantity</mat-label>
        <input type="number" matInput placeholder="Ex. 3" formControlName="Quantity">
        <mat-hint>Eg. 1 Bread, 2 Breads, 1000 Breads</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input type="number" matInput placeholder="0" class="example-right-align" formControlName="Price">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>
    <div>
      <button (click)="addItem()" mat-raised-button color="primary">Add</button>
    </div>
  </form>
</div>

<div id="table">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let items"> {{items.Name}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let items"> {{items.Quantity}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let items"> {{items.Price | currency }} </td>
      <td mat-footer-cell *matFooterCellDef></td>

    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="Total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let items"> {{items.Price * items.Quantity | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{ total | currency}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ highlight: row.Quantity < 5 }"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</div>
